<p>Hello {{player.id}}, your score is {{player.score}}</p>

<h4>Buildings:</h4>
<ul>
    {% for building in buildings %}
    <li>{{building}} - Upgrade Gold: {{building.cost_gold}} Lumber: {{building.cost_lumber}} Stone: {{building.cost_stone}}</li>
    {% endfor %}
</ul>

<h4>Resources:</h4>
<ul>
    <li>Gold: {{ player.gold|floatformat }}</li>
    <li>Lumber: {{ player.lumber|floatformat }}</li>
    <li>Stone: {{ player.stone|floatformat }}</li>
</ul>

<h5>Seconds passed since last action: {{seconds_passed}}</h5>
